@page "/Add-Update-Chore-List-Item"
@page "/Add-Update-Chore-List-Item/{Id:int}"

@using HomeAppsBlazerServer.Components.Extensions
@using HomeAppsBlazerServer.Models
@using HomeAppsBlazerServer.Models.Chore
@using HomeAppsBlazerServer.Servcies
@using HomeAppsBlazerServer.Servcies.Chore
@using Microsoft.AspNetCore.Mvc
@using System.ComponentModel.DataAnnotations
@using System.Collections.Generic

@inject ChoresListItemChoresServices ChoresListItemChoresServices
@inject IKidsChorseKidsServices kidsChorseKidsServices

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

@layout HomeAppsBlazerServer.Components.Layout.Chore.KidsChoreLayout




@if (Id is null)
{
    <h3>Add Chore</h3>
    <div style="padding-bottom:10px" />
}
else
{
    <h3>Update @choresModel.ChoreName</h3>
}

<EditForm Model="choresModel" OnSubmit="HandleSubmit">

    <div class="row">
        <div class="col-lg-2">
            <label for="itemsname">Chore Name:</label>
        </div>
        <div class="col-lg-2">
            <BlazorBootstrap.AutoComplete @bind-Value="ChoreName"
            TItem="ChoreListDetailItemsModel"
            DataProvider="CustomersDataProvider"
            PropertyName="ChoreName"
            Placeholder="Search a ChoreName..."
            OnChanged="(ChoreListDetailItemsModel choreitem) => OnAutoCompleteChanged(choreitem)" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <label for="itemsname">Kids Name:</label>
        </div>
        <div class="col-lg-2">
            <BlazorBootstrap.AutoComplete @bind-Value="KidName"
            TItem="KidsNameModel"
            DataProvider="CustomersDataProvider"
            PropertyName="KidName"
            Placeholder="Search a Kids..."
            OnChanged="(KidsNameModel kids) => OnAutoCompleteChanged(kids)" />
        </div>
    </div>

    <div style="padding-top:20px" />

    <div class="row">
        <div class="col-lg-1" style="padding-bottom:20px">
            <button class="btn btn-primary" @onclick="@(() => Cancel())">Cancel</button>
        </div>
        <div class="col-lg-1" style="padding-bottom:20px">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-primary" @onclick="@(() => Deleteitems())">Delete</button>
        </div>
    </div>


</EditForm>


@code {

    [Parameter]
    public int? Id { get; set; }

    public ChoreListItemsModel ChoreList { get; set; } = new();

    public ChoresModel choresModel { get; set; } = new();

    public KidsNameModel Kid { get; set; } = new();

    public string ChoreName, KidName = string.Empty;


    private async Task<AutoCompleteDataProviderResult<ChoreListDetailItemsModel>>
                CustomersDataProvider(BlazorBootstrap.AutoCompleteDataProviderRequest<ChoreListDetailItemsModel> request)
    {
        //var customers = await ChoresListItemChoresServices.GetChoreItems(request.Filter.Value); // API call
        var customers = await ChoresListItemChoresServices.GetChoreItems(); // API call

        return await Task.FromResult(new AutoCompleteDataProviderResult<ChoreListDetailItemsModel> 
                { Data = customers, TotalCount = customers.Count() });
    }

    private async Task<AutoCompleteDataProviderResult<KidsNameModel>>
               CustomersDataProvider(BlazorBootstrap.AutoCompleteDataProviderRequest<KidsNameModel> request)
    {
         //var customers = await ChoresListItemChoresServices.GetChoreItems(request.Filter.Value); // API call
        var kids = await kidsChorseKidsServices.GetKids(request.Filter.Value); // API call

        return await Task.FromResult(new AutoCompleteDataProviderResult<KidsNameModel>
            { Data = kids, TotalCount = kids.Count() });
    }


    private void OnAutoCompleteChanged(ChoreListDetailItemsModel customer)
    {
        //if (customer != null)
        ChoreList.KidsChoreID = customer.KidsChoreID;
        Console.WriteLine("Chore Item is {choreID}",customer.KidsChoreID);


             //Console.WriteLine($"'{customer?.StoreName}' selected.");
    }

    private void OnAutoCompleteChanged(KidsNameModel kids)
    {
        if (kids != null)
            Kid.IDKidsName = kids.IDKidsName;
        //Console.WriteLine($"'{customer?.StoreName}' selected.");
    }

    // private void OnAutoCompleteChanged<T>(T kids)
    // {
    //     if (kids != null)
    //         Kid.IDKidsName = kids.IDKidsName;
    //     //Console.WriteLine($"'{customer?.StoreName}' selected.");
    // }


    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            var AChore = await ChoresListItemChoresServices.GetChoreItem((int)(Id));

            if (AChore is not null)
            {
                choresModel = AChore;

            }

        }
    }




    async Task HandleSubmit()
    {
        if (choresModel is null)
        {
            return;
        }
        else if (Id is not null) //update
        {

            ChoresListItemChoresServices.UpdateChoreItem (Chore);
            NavigationManager.NavigateTo($"ChoresChore/");
        }
        else //add
        {
            //Chore.ChoreName = Chore.ChoreName.ToTileCase();
            ChoresListItemChoresServices.AddChoreItem(Chore);

            Chore = new();

            NavigationManager.NavigateTo($"ChoresChore/");
        }



    }


    async Task Deleteitems()
    {
        //delete
        Chore.IsDeleted = true;
        ChoresListItemChoresServices.UpdateChoreItem(Chore);

        NavigationManager.NavigateTo($"ChoresChore/");
    }   

    async Task Cancel()
    {

        NavigationManager.NavigateTo($"ChoresChore/");
    }




}
