@page "/List-Kids"

@using HomeAppsBlazerServer.Models
@using HomeAppsBlazerServer.Models.Chore

@using HomeAppsBlazerServer.Servcies
@using HomeAppsBlazerServer.Servcies.Chore

@using Microsoft.AspNetCore.Mvc
@using System.ComponentModel.DataAnnotations

@inject IKidsChorseKidsServices kidsChorseKidsServices
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

@layout HomeAppsBlazerServer.Components.Layout.Chore.KidsChoreLayout




<h3>Add Kid</h3>
<div style="padding-bottom:10px" />

@if (Kids is null)
{
    <p><em>Loadding kids items....</em></p>
}
else if (Kids.Count.Equals(0))
{
    <p><em>What happen to the kids?</em></p>
}
else
{
     <div class="container">
    @foreach (var kid in Kids)
    {

        <div class="row bordered-row">

            <div class="col-md-2">
                <label style="font-weight:bold;" for="itemsname">Kid Name:</label>
            </div>

            <div class="col-md-2 ">
                    <span id="kidname" @onclick="@(() => Edit(kid.IDKidsName))"> @kid.KidName </span>
            </div>

                <div class="col-md-2">
                    <button class="btn btn-primary" @onclick="@(() => Delete(kid.IDKidsName))">Delete</button>
                </div>
                
        </div>

        <div style="padding-top:20px" />

       
    }
    </div>
    }

@code {

    public List<KidsNameModel> Kids { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {

        Kids = await kidsChorseKidsServices.GetKids();

    }



    async Task Delete(int id)
    {

    }

    void Edit(int id)
    {
        NavigationManager.NavigateTo($"/Kid-Add-Update/{id}");
    }

    async Task Cancel()
    {

        NavigationManager.NavigateTo($"List-Kids/");
    }




}

<style>
    .bordered-row {
        border: 1px solid black;
        border-radius: 5px; /* Optional: Adds rounded corners */
        padding: 10px; /* Optional: Adds some inner spacing */
        margin-bottom: 10px; /* Optional: Adds spacing between rows */
    }
</style>
