@page "/kidschore"

@using HomeAppsBlazerServer.Models.Chore
@using HomeAppsBlazerServer.Servcies.Chore
@using HomeAppsBlazerServer.Models
@using HomeAppsBlazerServer.Servcies

@layout HomeAppsBlazerServer.Components.Layout.KidsChoreLayout

@inject KidsChorseKidsServices _KidsChorseServices;

@* jackes up the view of the table *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))


@* Loads as it as it download it. *@
@attribute [StreamRendering]


@inject NavigationManager NavigationManger
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<div style="text-align:center;padding-top:10px;">

    @if (_KidsNameModel is null)
    {
        <p><em>Loadding kids items....</em></p>
    }
    else if (_KidsNameModel.Count.Equals(0))
    {
        <p><em>What happen to the kids?</em></p>
    }
    else
    {
        <p>All my kids</p>
        @foreach (var item in _KidsNameModel)
        {
            <div>@item.KidName</div>
        }
    }

</div>



@code {
    List<KidsNameModel> _KidsNameModel;

    protected override async Task OnInitializedAsync()
    {
        //TEST CODE
        _KidsNameModel = await _KidsChorseServices.GetKids();

    }

}