@page "/List-Location"

@using HomeAppsBlazerServer.Models
@using HomeAppsBlazerServer.Models.Chore

@using HomeAppsBlazerServer.Servcies
@using HomeAppsBlazerServer.Servcies.Chore

@using Microsoft.AspNetCore.Mvc
@using System.ComponentModel.DataAnnotations

@inject LocationChoresServices LocationChoresServices
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

@layout HomeAppsBlazerServer.Components.Layout.KidsChoreLayout




    <h3>Add Kid</h3>
    <div style="padding-bottom:10px" />

@if (Locations is null)
    {
        <p><em>Loadding location items....</em></p>
    }
else if (Locations.Count.Equals(0))
    {
    <p><em>What happen to the location?</em></p>
    }
    else
    {

     @foreach (var location in Locations)
            {

    <div class="row">

        <div class="col-lg-1">
            <label for="itemsname">Kid Name:</label>
        </div>
        <div class="col-lg-2">
                <div id="place" class="link-primary" @onclick="@(() => EditStore(location.ChoreLocationId))"> @location.PlaceName </div>
         </div>
    </div>

    <div style="padding-top:20px" />

    <div class="row">
        <div class="col-lg-1" style="padding-bottom:20px">
            <button class="btn btn-primary" @onclick="@(() => Cancel())">Cancel</button>
        </div>
        <div class="col-lg-1" style="padding-bottom:20px">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-primary" @onclick="@(() => Deleteitems())">Delete</button>
        </div>
    </div>
            }}

@code {

    public List<LocationModel> Locations { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
       
        Locations = await LocationChoresServices.GetLocations();

    }

    void EditStore(int id)
    {
        NavigationManager.NavigateTo($"/Location-Add-Update/{id}");
    }

    async Task Deleteitems()
    {
       
    }

    async Task Cancel()
    {

        NavigationManager.NavigateTo($"KidsChore/");
    }




}
