@page "/CreateEditListItem"
@page "/CreateEditListItem/{Id:int}"

@using HomeAppsBlazerServer.Models
@using HomeAppsBlazerServer.Servcies
@using HomeAppsBlazerServer.Servcies.Shopping
@using Microsoft.AspNetCore.Mvc
@using System.ComponentModel.DataAnnotations

@inject IShoppingServices ShoppingServices
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

@layout HomeAppsBlazerServer.Components.Layout.Shopping.ShoppingLayout

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
<link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- Add chart.js reference if chart components are used in your application. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js" integrity="sha512-gQhCDsnnnUfaRzD8k1L5llCCV6O9HN09zClIzzeJ8OJ9MpGmIlCxm+pdCkqTwqJ4JcjbojFr79rl2F1mzcoLMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Add chartjs-plugin-datalabels.min.js reference if chart components with data label feature is used in your application. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Add sortable.js reference if SortableList component is used in your application. -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>



@if (Id is null)
{
    <h3>Add Item</h3>
    <div style="padding-bottom:10px" />
}
else
{
    <h3>Update @CurrentShoppingitems.ItemName</h3>
}




<EditForm Model="CurrentShoppingitems" OnSubmit="HandleSubmit" @onkeydown="HandleKeyDown">


    <div class="row">

        <div class="col-lg-2">
            <label for="itemsname">Items Name:</label>
        </div>
        <div class="col-lg-2">
            <BlazorBootstrap.AutoComplete @bind-Value="ItemName"
                                          TItem="ShoppingItem"
                                          DataProvider="CustomersDataProvider"
                                          PropertyName="ItemName"
                                          Placeholder="Search a item..."
                                          OnChanged="(ShoppingItem item) => OnAutoCompleteChanged(item)" />
        </div>
    </div>


    <div class="row">

        <div class="col-lg-2">
            <label for="itemsname">Store:</label>
        </div>
        <div class="col-lg-2">
            <BlazorBootstrap.AutoComplete @bind-Value="StoreName"
                                          TItem="ShoppingStore"
                                          DataProvider="CustomersDataProvider"
                                          PropertyName="StoreName"
                                          Placeholder="Search a store..."
                                          OnChanged="(ShoppingStore store) => OnAutoCompleteChanged(store)" />
        </div>
    </div>


    <div class="row">

        <div class="col-lg-2">
            <label for="itemsname">Need Date:</label>
        </div>
        <div class="col-lg-2">
            <InputDate id="needDate" @bind-Value="CurrentShoppingitems.ShoppingItemList.NeedDate" class="form-control" />
        </div>
    </div>


    <div class="row">

        <div class="col-lg-2">
            <label for="itemsname">Number of Items:</label>
        </div>
        <div class="col-lg-2">
            <InputNumber id="numberOfItems" @bind-Value="CurrentShoppingitems.ShoppingItemList.NumberOfItems" class="form-control" />

        </div>
    </div>



    <div class="row">

        <div class="col-lg-2">
            <label for="itemsname">Price:</label>
        </div>
        <div class="col-lg-2">
            <InputText id="price" @bind-Value="CurrentShoppingitems.Price" class="form-control" />
        </div>
    </div>

    <div style="padding-top:20px" />

    <button type="submit" class="btn btn-primary">Submit</button>

    <button class="btn btn-primary" @onclick="@(() => Cancel())">Cancel</button>

</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    public string StoreName, ItemName, pressedKey = string.Empty;


    public ListItemModel CurrentShoppingitems { get; set; } = new();

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        pressedKey = e.Key;
    }

    public void ShoppingLIstItem(ListItemModel currentShoppingitems)
    {
        CurrentShoppingitems = currentShoppingitems;
    }

    private async Task<AutoCompleteDataProviderResult<ShoppingStore>> 
                CustomersDataProvider(BlazorBootstrap.AutoCompleteDataProviderRequest<ShoppingStore> request)
    {
        var customers = await ShoppingServices.GetShoppingStoresAsync(request.Filter.Value); // API call

        return await Task.FromResult(new AutoCompleteDataProviderResult<ShoppingStore> 
                                    { Data = customers, TotalCount = customers.Count() });

    }

    private async Task<AutoCompleteDataProviderResult<ShoppingItem>> 
                CustomersDataProvider(BlazorBootstrap.AutoCompleteDataProviderRequest<ShoppingItem> request)
    {
        var customers = await ShoppingServices.GetShoppingItemsFilterAsync(request.Filter.Value); // API call

        return await Task.FromResult(new AutoCompleteDataProviderResult<ShoppingItem> 
            { Data = customers, TotalCount = customers.Count() });

    }

    private void OnAutoCompleteChanged(ShoppingItem customer)
    {
        CurrentShoppingitems.ShoppingItemList.ShoppingItemID = customer.ShoppingItemID;
        Console.WriteLine($"'{customer?.ItemName}' selected.");
    }

    private void OnAutoCompleteChanged(ShoppingStore customer)
    {
        if(customer is null)
        {
            CurrentShoppingitems.ShoppingItemList.ShoppingStoreID = null;
            CurrentShoppingitems.StoreName = string.Empty;
            return; 

        }

        CurrentShoppingitems.ShoppingItemList.ShoppingStoreID = customer.ShoppingStoreID;
        Console.WriteLine($"'{customer?.StoreName}' selected.");
    }


    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            var shoppingitems = await ShoppingServices.GetListItem((int)(Id));

            if (shoppingitems is not null)
            {
                CurrentShoppingitems = shoppingitems;
                StoreName = CurrentShoppingitems.StoreName;
                ItemName = CurrentShoppingitems.ItemName;
                CurrentShoppingitems.ShoppingItemList = shoppingitems.ShoppingItemList;
                CurrentShoppingitems.ShoppingItemList.NeedDate = shoppingitems.ShoppingItemList.NeedDate;
                
            }

        }

    }

    [HttpPost]
    //not working
    async Task Deleteitems()
    {
        //delete
        await ShoppingServices.RemoveShoppingItem((int)Id);

        NavigationManager.NavigateTo($"ShoppingItems/");
    }

    [HttpPost]

    async Task Cancel()
    {

        NavigationManager.NavigateTo($"ShoppingList/");
    }

    async Task HandleSubmit()
    {
        //Want to pass if they hit enter to select a itme or store.
        if (pressedKey.Equals("enter", StringComparison.OrdinalIgnoreCase))
        {
            pressedKey = string.Empty;
            return;
        }

        if (Id is not null)
        {

        if(!string.IsNullOrEmpty(CurrentShoppingitems.Price))
        {
            await ShoppingServices.AddPriceToHistry(CurrentShoppingitems.ShoppingItemList.ShoppingItemID, 
                        Convert.ToDecimal(CurrentShoppingitems.Price), 
                        CurrentShoppingitems.ShoppingItemList.ShoppingStoreID);
        }
            //update
            ShoppingServices.UpdateListItem(CurrentShoppingitems.ShoppingItemList, (int)Id);
            NavigationManager.NavigateTo($"ShoppingList/");
            
        }
        else if (String.IsNullOrEmpty(ItemName))
        {
            return;
        }
        else
        {
            //add
            ShoppingServices.CreateListItem(CurrentShoppingitems.ShoppingItemList);
            NavigationManager.NavigateTo($"ShoppingList/");
        }



    }

}

<style>
    .valid.modified:not([type=checkbox]) {
        outline: 1px solid #26b050;
    }

    .invalid {
        outline: 1px solid red;
    }

    .validation-message {
        color: red;
    }

    .row {
        padding-bottom: 5px;
    }
</style>