@page "/"

<PageTitle>Home</PageTitle>

<div style="text-align:center;padding-top:10px;">
    <a href="ShoppingList">Items Need</a>
</div>

<div style="text-align:center;padding-top:10px;">
    <a href="Add-Update-ChoreList">Chores</a>
</div>


<div style="text-align:center;padding-top:10px;">
    <a href="List-Car">Cars</a>
</div>